@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: #ffffff;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #000;
    width: 100%;
    padding: 1% 5% 1% 5%;
    box-shadow: 1px 1px 10px 0.1px #0000006e;
}

.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.header-logo{
    width: 10%;
}

.header-logo img{
    width: 100%;
    height: auto;
}

.header-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    transition: 0.2s;
}

.header-link:hover{
    transform: translateY(-7%);
    text-shadow: 0.5px 0.5px 0.5px #ffffff;
}


form {
    --input-bg: #FFf;
    --padding: 1.5em;
    --rotate: 80deg;
    --gap: 2em;
    --icon-change-color: #000;
    --height: 32px;
    width: 220px;
    padding-inline-end: 1em;
    background: var(--input-bg);
    position: relative;
    border-radius: 10em;
}
  
form label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height);
}
  
form input {
    width: 100%;
    padding-inline-start: calc(var(--padding) + var(--gap));
    outline: none;
    background: none;
    border: 0;
}

form svg {
    color: #111;
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    position: absolute;
    height: 15px;
}
  
.icon {
    position: absolute;
    left: var(--padding);
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swap-off {
    transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
}
  
.close-btn {
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
}
  
form input:focus ~ .icon {
    transform: rotate(var(--rotate)) scale(1.3);
}
  
form input:focus ~ .icon .swap-off {
    opacity: 1;
    transform: rotate(-80deg);
    visibility: visible;
    color: var(--icon-change-color);
}
  
form input:focus ~ .icon .swap-on {
    opacity: 0;
    visibility: visible;
}
  
form input:valid ~ .icon {
    transform: scale(1.3) rotate(var(--rotate))
}
  
form input:valid ~ .icon .swap-off {
    opacity: 1;
    visibility: visible;
    color: var(--icon-change-color);
}
  
form input:valid ~ .icon .swap-on {
    opacity: 0;
    visibility: visible;
}
  
form input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0s;
}
  
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    gap: 2em;
    background-color: #ffffff;
}

main h1{
    font-size: 2.6rem;
    font-weight: 200;
    color: #000;
}

.division{
    width: 90%;
    height: 1px;
    background-color: #000;
}

.container-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5% 0% 5% 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica     Neue', sans-serif;
    gap: 2em;
}

.container-item img{
    width: 100%;
    height: auto;
    border-radius: 0.4em;
}

.item{
    width: 24%;
    height: auto;
    background: #ffffff;
    border: 2px solid #3b3636;
    box-shadow: 4px 4px #000;
    border-radius: 5px;
    padding: 20px;
    gap: 10px;
}

.item-content{
    display: flex;
    align-items: center;
    padding-right: 10%;
    padding-top: 2%;
}

.item-content strong{
    font-size: 1.3rem;
}

.card-btn {
    overflow: hidden;
    cursor: pointer;
    height: 35px;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
}
  
.card-btn svg {
    width: 100%;
    height: 100%;
    fill: #000;
    transition: all 0.3s;
}
  
.card-btn:hover {
    background-color: #000;
}
  
.card-btn:hover svg {
    fill: #fff;
}
  
.card-btn:active {
    transform: translateY(7%);
}
  
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #000000e5;
    color: #fff;
    padding: 2%;
    font-size: 1.3rem;
    font-weight: 400;
}

footer p{
    text-align: center;
    width: 100%;
}

footer a{
    text-decoration: none;
    color: #fff;
    margin-left: 0.3%;
    font-weight: 500;
}

footer a:hover{
    text-decoration: underline;
}